<h2> View 2</h2>
<div>
    Name:
    <br/>
    <input type="text" data-ng-model="city" />
    <ul>
        <li data-ng-repeat="cust in customer |filter:city |orderBy:'name' ">{{ cust.name }}
            <b style="color:red;"> belongs from </b> {{ cust.city }} </li>

    </ul>
    Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /><br/>
Show when checked:
<span ng-if="checked" class="animate-if">
  I'm removed when the checkbox is unchecked.
</span>
    <br /><br /><br /><br />
    <input type="text" ng-model="color" placeholder="Enter a color" />
    <div data-hello-world></div>
</div>